* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #044ca4;
}

::-webkit-scrollbar-thumb {
  background: #1e0c64;
}

::-webkit-scrollbar-thumb:hover {
  background: #1b1742;
}

body {
  background: #001440;
  color: #d6d6d6;
  font-family: "Source Code Pro", monospace;
  font-size: 15pt;
  overflow-x: hidden;
}

a {
  outline: 0;
}

main,
figure,
figcaption {
  display: block;
}

header,
main,
footer {
  -webkit-text-size-adjust: none;
}

body {
  min-height: 100vh;
  position: relative;
}

main {
  padding: 1em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 13pt;
  padding: 0.5em;
}

a {
  text-decoration: none;
  color: #0088cc;
}
a:hover,
a:focus {
  color: #a0c1e6;
  cursor: pointer;
}
h1,
h2 {
  font-size: 1em;
  font-weight: normal;
  font-family: "Space Mono", monospace;
}

.form-item {
  padding: 2px 0px;
  max-width: 35em;
}

#sidebar {
  width: 100%;
  margin: 0;
  padding: 1em;
}

#sponsor {
  margin-bottom: 2.5em;
}

header {
  white-space: nowrap;
  cursor: default;
  z-index: 100;
  margin-bottom: 2em;
  padding: 0.5em;
}

header h1 {
  display: inline-block;
  margin: 0;
  padding-right: 1em;
  font-size: 2em;
  line-height: 1.5em;
}

header h1 a,
header h1 span {
  display: inline-block;
  text-decoration: none;
  color: #0090e6;
  text-shadow: 0 0 2px #0090e6, 0 0 5px #0090e6;
}
header h1 a:hover,
header h1 a:focus {
  color: #97c0ef;
  text-shadow: 0 0 2px #97c0ef, 0 0 5px #97c0ef;
}
header h1.title-event .title-event-wrap {
  opacity: 0.33;
  white-space: pre;
}
header nav {
  display: inline-block;
}
header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
header nav li {
  display: inline-block;
  padding: 0 0.6em;
}
header nav a {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

input[type="text"],
textarea,
select,
input[type="date"] {
  background: transparent;
  color: inherit;
  border: 1px solid #666666;
  background: #17182b;
  padding: 0.5em;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  margin: 0;
}

label {
  white-space: pre;
}

.submit {
  font-weight: bold;
  padding: 6px 0;
}

*::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.silver {
  color: #99b3cc;
}

.gold {
  color: #ffb366;
}

.failure {
  color: #ff0000;
}

.success {
  color: greenyellow;
}

.delete {
  color: #ff0000;
  font-weight: bold;
}

.list-item {
  min-width: 35em;
  max-width: 60em;
  min-height: 1.35em;
  white-space: pre;
}

.list-item:hover,
.list-item:active {
  background-color: #1e1e46;
}

.list-heading {
  white-space: pre;
  padding: 0 0 4px 0;
}

.list-item > .delete {
  cursor: pointer;
}

.sponsor {
  margin: 1em 0;
}

.quiet {
  margin: 2em;
  padding: 1em;
  opacity: 0.6;
}

#spacevideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.45;
}

/* Mobile (up to 767px) */
@media only screen and (max-width: 768px) {
  body {
    margin: 1em;
    padding-right: 1em;
    font-size: 12pt;
    min-width: auto;
    min-height: auto;
    padding: 1em;
    text-align: justify;
    overflow-x: hidden;
  }
  main {
    display: flex;
    flex-wrap: wrap;
  }

  header {
    padding: 0.5em;
  }

  header h1 {
    font-size: 1.5em;
    padding-right: 0.5em;
  }

  header nav {
    display: block;
  }

  header nav li {
    display: block;
    padding: 0.5em 0;
  }

  #sidebar {
    max-width: none;
    width: 100%;
  }

  .list-item {
    display: flex;
    flex-direction: row;
    min-width: auto;
    max-width: none;
    width: 100%;
    word-wrap: break-word;
  }

  .list-item > .delete {
    margin-left: 1em;
  }

  .silver,
  .gold {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }

  .quiet {
    margin: 1.5em 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1.5em;
    text-align: justify;
  }

  #upcoming {
    width: 90%;
    margin: 0 auto;
  }
}
